# https://stackoverflow.com/questions/5711120/gitignore-binary-files-that-have-no-extension

# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore demo folder
demo/

# Ignore demo files
demo*.*

# Ignore profiling files
profile_results.txt